Repository jenkinsci/bitbucket-branch-source-plugin, pull requests merged in 2023-07, with the labels that each got.

#734 Update USER_GUIDE.adoc
  docs/USER_GUIDE.adoc
Labels: documentation

#737 Fix endless loop when fetching branch by filterText from Bitbucket Server API
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/client/BitbucketServerAPIClient.java
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-branches_filterText_feature_2FBB-1_start_0_limit_200.json
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-branches_filterText_feature_2FBB-2_start_0_limit_200.json
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-branches_filterText_main_start_0_limit_200.json
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-branches_filterText_release_2Frelease-1_start_0_limit_200.json
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-tags_filterText_special-_22_24_3B_3E_3C_26_23__3D_40_21_7C._2C_2Ftest_start_0_limit_200.json
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/server/payload/1.0-projects-amuniz-repos-test-repos-tags_filterText_v0.0.0_start_0_limit_200.json
Labels: fix, java

#739 chore: Parallelize Tests
  pom.xml
Labels: chore

#738 [JENKINS-61119] Configure ForkPullRequestDiscoveryTrait using Job DSL
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/ForkPullRequestDiscoveryTrait.java
Labels: enhancement, java
