Repository jenkinsci/bitbucket-branch-source-plugin, pull requests merged in 2024-02, with the labels that each got.

#796 Support cloning from Bitbucket mirror
  docs/USER_GUIDE.adoc
  docs/images/screenshot-13.png
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketApiUtils.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMBuilder.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMNavigator.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSource.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSourceBuilder.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BranchWithHash.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/FallbackToOtherRepositoryGitSCMExtension.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/MirrorListSupplier.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/PullRequestSCMHead.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/PullRequestSCMRevision.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/SCMHeadWithOwnerAndRepo.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/BitbucketApi.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/BitbucketMirrorServer.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/BitbucketMirroredRepository.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/BitbucketMirroredRepositoryDescriptor.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/client/BitbucketCloudApiClient.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/HookEventType.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/NativeServerPullRequestHookProcessor.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/NativeServerPushHookProcessor.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/PullRequestHookProcessor.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/WebhookConfiguration.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/BitbucketServerVersion.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/client/BitbucketServerAPIClient.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/client/mirror/BitbucketMirrorServerDescriptors.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/client/mirror/BitbucketMirroredRepositoryDescriptors.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/events/BitbucketServerMirrorServer.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/events/NativeServerChange.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/events/NativeServerMirrorRepoSynchronizedEvent.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/events/NativeServerRef.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/server/events/NativeServerRefsChangedEvent.java
  src/main/resources/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMNavigator/config.jelly
  src/main/resources/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMNavigator/help-mirrorId.html
  src/main/resources/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSource/config-detail.jelly
  src/main/resources/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSource/help-mirrorId.html
  src/main/resources/com/cloudbees/jenkins/plugins/bitbucket/endpoints/BitbucketServerEndpoint/help-webhookImplementation.html
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketBuildStatusNotificationsTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketClientMockUtils.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMBuilderTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMRevisionTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BranchScanningTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/UriResolverTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/endpoints/BitbucketEndpointConfigurationTest.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/hooks/WebhookConfigurationTest.java
  src/test/java/integration/ScanningFailuresTest.java
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/endpoints/BitbucketEndpointConfigurationTest/configuration-as-code.yml
  src/test/resources/com/cloudbees/jenkins/plugins/bitbucket/hooks/WebhookConfigurationTest/configuration-as-code.yml
Labels: feature, java

#807 Fix compatibility with Blue Ocean plugin
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSourceBuilder.java
Labels: fix, java

#810 Add OAuth token to http clone link
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSource.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/BitbucketAuthenticator.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/api/credentials/BitbucketOAuthAuthenticator.java
Labels: fix, java

#815 Remove ref-specs cleanup during initialization of BitbucketGitSCMBuilder
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMBuilder.java
  src/test/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMBuilderTest.java
Labels: fix, java

#817 Fix binary compatibility for PullRequestSCMRevision.getPull
  pom.xml
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/PullRequestSCMRevision.java
Labels: bug
