Repository jenkinsci/bitbucket-branch-source-plugin, pull requests merged in 2024-03, with the labels that each got.

#824 Get fresh oauth token on every git clone
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketGitSCMBuilder.java
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/BitbucketSCMSource.java
Labels: fix, java

#826 Slim down JPI
  pom.xml
Labels: internal

#839 Add cache for commit responses based on hashes
  src/main/java/com/cloudbees/jenkins/plugins/bitbucket/client/BitbucketCloudApiClient.java
Labels: feature, java
